<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/mydb</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <!--<property name="hibernate.hbm2ddl.auto">update</property>-->

      <mapping class="com.ddshka.model.Role"/>
      <mapping class="com.ddshka.model.User"/>
      <mapping class="com.ddshka.model.Track"/>
      <mapping class="com.ddshka.model.Broadcast"/>
      <mapping class="com.ddshka.model.TrackInfo"/>

      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>